# Ignore the virtual environment directory
searchenv/
.env

# Ignore local database
db.sqlite3

# Ignore Django migration files
**/migrations/*

# Ignore compiled Python files
__pycache__/
*.py[cod]
*.sqlite3-journal

# Ignore log files and temporary files
*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo
.DS_Store

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace